{% extends 'base2.html' %}
{% load static %}

{% block header %}
<head>
    <link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">
</head>
{% endblock header %}


{% block content %}
<body class="body-1">
    <div class="container col-lg-6 offset-lg-3">
        <h3 class="weather-title">Weather 🌤 Forecast☃</h3> 
        {% if error %}
        <h3 class="weather-inperr">{{ error }}</h3>
        {% endif %}
        <form action="" method="POST" class="weather-form">{% csrf_token %}
            {{form.as_p}}
            <span class="chuui">
                <h5>入力例 : osaka、大阪市、london、ロンドン</h5>
                <div class="chuui-2">
                    <h5>日本国内は、ローマ字、漢字（○○市）</h5>
                    <h5>海外は、ローマ字、カタカナ</h5>
                </div>
            </span>
            <div class="btn-search">
                <input type ="submit" value ="天気検索">
            </div>
        </form>
    </div>
</body>
{% endblock content %}